.header-container {
    width: 100%;
    height: 85px;
    background-color: blueviolet;
    .logo{
        padding: 1.5em;
        width: 80%;
        h1{
            font-weight: bold;
            color: yellow;
        }
    }
}