.mat-card {
    max-width: 550px;
    margin: auto;
    line-height: 2.5em;
    margin-top: 100px;
    background: rgba($color: #dfe209, $alpha: 1.0);

}

.title {
    margin: 0 auto;
    font-weight: bold;
    width: 100%;
    text-align: center;
}

.card-select {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}
.content{
    width: 100%;
   margin: 0 auto;
}